.review-radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 30px;
    vertical-align: none;
    font-weight: normal;
    cursor: pointer;
}
