<h1>All the massages available </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <% @massages.each do |massage| %>
      <%= render "shared/massage_card", :locals => { :massage => massage }%>
      <% end %>
    </div>
  </div>
</div>
