<div class="container">
  <h1>Massages available in <%= params[:city] %> matching <%= params[:category] %></h1>

  <div class="row">
    <div class="col-xs-4">
      <% @massages.each do |massage| %>
      <%= render "shared/massage_card", :locals => { :massage => massage }%>
      <% end %>
    </div>
  </div>
</div>
