<div class="container">
  <h1>Massages available in <%= params[:city] %> matching <%= params[:category] %></h1>

  <ul>
    <% @massages.each do |massage| %>
      <li><%= link_to massage.name, massage %></li>
    <% end %>
  </ul>
</div>
