<!-- WRAPPING THE BACKGROUND -->
<div class="wrapper" style="background-color: #ECE1BD;">
  <div class="container">
    <!--- determining if category is selected -->
    <%= render 'search_result' %>

    <!-- printing cards -->
    <div class="row">
      <%= render 'shared/massage_card' %>
    </div>

  </div>
</div>



