<div class="footer-wrapper">
  <div class="container">
    <div class="row footer">
      <div class="col-xs-12 col-sm-12 footer-left">
      <p>&#169; 2016 Handzon Inc.</p>
      </div>

      <div class="col-xs-12 col-sm-12 footer-right">
      <p>Made with &#9829; in Barcelona<br />by Margot, Matthew &#38; Hugh<br />at <a href="http://lewagon.org">Le Wagon</a></p>
      </div>
    </div>
  </div>
</div>
