

      <h2><%= @massage.tagline%></h2>
        <%= simple_form_for [@massage, @appointment] do |f| %>
        <%= f.input :date_time, label: false %>

        <%= f.submit "book appointment", class: "btn btn-primary" %>
      <% end %>

