input[type=button], input[type=submit], input[type=reset] {
  color: #FFF;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  color: #FFF;
}

select {
    color: #333;
}
