// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

//Datepicker
@import "datetimepicker";

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3.5px 3.5px 9px #888888;
}

.appt-card {
  padding: 15px;
  color: black;
}

.card{
  margin-top: 5px;
}

.white{
  background-color: white;
  margin: 5px;
}
